header {
  display: flex;
  justify-content: center;
}

img {
  display: inline-flex;
}

 h1 {
   display: inline-flex;
   align-items: center;
 }

 h2 {
   text-align: center;
 }

 .flex-container {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
 }

 #image-container {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-around;
 }

 #replace img {
   height: 300px;
   width: 300px;
 }
