body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}

#replace img {
  padding: 5px;
  background-color: purple;
}

#replace img:hover {
  background-color: green;
}

.buttons {
  background-color: #ccccff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  border-radius: 25%;
  padding: 10px;
}

.buttons:hover {
    background-color: white;
}

.buttons:focus {
  outline: none;
}

.fade {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s;
}
