body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}

thead td {
  font-weight: bold;
}

tr:nth-of-type(even) {
  background-color: #ccccff;
}

.buttons {
  background-color: #ccccff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  border-radius: 25%;
  padding: 10px;
}

.buttons:hover {
    background-color: white;
}

.buttons:focus {
  outline: none;
}
